@model LibraryInfrastructure.Models.Scientist

@{
    ViewData["Title"] = "Редагувати";
}

<h1>Редагувати</h1>

<h4>Науковець</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Fullname" class="control-label"></label>
                <input asp-for="Fullname" class="form-control" />
                <span asp-validation-for="Fullname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Departmentid" class="control-label"></label>
                <select asp-for="Departmentid" class="form-control" asp-items="ViewBag.Departmentid"></select>
                <span asp-validation-for="Departmentid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Createdat" class="control-label"></label>
                <input asp-for="Createdat" class="form-control" />
                <span asp-validation-for="Createdat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Updatedat" class="control-label"></label>
                <input asp-for="Updatedat" class="form-control" />
                <span asp-validation-for="Updatedat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
