@model LibraryInfrastructure.Models.Scientistposition

@{
    ViewData["Title"] = "Створення";
}

<h1>Посада</h1>

<hr />
<div class="container mt-4">
    <div class="card shadow-sm p-4">
        <h2 class="mb-4 text-center">Призначення науковця на посаду</h2>

        <form asp-action="Create">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="form-label">Науковець</label>
                    <select asp-for="Scientistid" class="form-select" asp-items="ViewBag.Scientistid"></select>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">Посада</label>
                    <select asp-for="Positionid" class="form-select" asp-items="ViewBag.Positionid"></select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="form-label">Кафедра</label>
                    <select asp-for="Departmentid" class="form-select" asp-items="ViewBag.Departmentid"></select>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">Ставка</label>
                    <input asp-for="Employmentrate" class="form-control" type="number" step="0.1" min="0.1" max="1.0" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="form-label">Дата початку</label>
                    <input asp-for="Startdate" class="form-control" type="date" />
                </div>
            </div>

            <div class="text-center mt-3">
                <button type="submit" class="btn btn-dark px-5">Зберегти призначення</button>
                <a asp-action="Index" class="btn btn-outline-secondary ms-2">Назад до списку</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
