@model LibraryInfrastructure.Models.Salaryhistory

@{
    ViewData["Title"] = "Створення";
}

<h1>Додавання запису</h1>

<h4>Історія виплат</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Scientistid" class="control-label"></label>
                <select asp-for="Scientistid" class ="form-control" asp-items="ViewBag.Scientistid"></select>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentType" class="control-label"></label>
                <select asp-for="PaymentType" class="form-control">
                    <option value="">-- Оберіть тип --</option>
                    <option value="Основа">Основна ставка</option>
                    <option value="Аванс">Аванс</option>
                    <option value="Премія">Премія</option>
                    <option value="Лікарняні">Лікарняні</option>
                </select>
                <span asp-validation-for="PaymentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentDate" class="control-label"></label>
                <input asp-for="PaymentDate" class="form-control" />
                <span asp-validation-for="PaymentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reason" class="control-label"></label>
                <input asp-for="Reason" class="form-control" />
                <span asp-validation-for="Reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        document.getElementById('Scientistid').addEventListener('change', function () {
            var scientistId = this.value;
            var amountInput = document.getElementById('Amount');

            if (scientistId) {
                fetch('/Salaryhistory/GetScientistSalary/' + scientistId)
                    .then(response => response.json())
                    .then(data => {
                        amountInput.value = data.salary;
                    });
            } else {
                amountInput.value = '';
            }
        });
    </script>
}
